body {
    background-color: #bac5db;
}

.container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin-top: -20px;
}

.round {
    margin-top: -50px;
    width: 100px; 
    height: 100px;
    background: rgb(75,167,228);
    background: linear-gradient(54deg, rgba(75,167,228,1) 0%, rgb(93, 37, 198) 100%);
    border-radius: 50%;   
}

.round-white{
    border: solid whitesmoke;
    padding: 25px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.window{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #353a45;
    width: 666px;
    height: auto;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#newsletter {
    color: #538fff;
    font-size: 42px;
}

#text {
    color: white;
    font-size: 18px;
}

#email {
    border-radius: 8px;
    height: 48px;
    width: 370px;
    border: none;
}

::placeholder {
    color: silver;
    font-size: 18px;
    padding-left: 20px;
}

.button {
    margin-left: 5px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1px;
    border: none;
    width: 160px;
    height: 50px;
    background: #538fff;
    color: white;
    text-transform: uppercase;
}

#footer {
    color: #787d87;
    font-size: 18px;
    font-style: italic;
}

#newsletter, #text, #email, .button {
    font-family: Lato, sans-serif;
}

i {
    color: white;
    font-size: 50px;
}

.close i {
    color: #444d63;
}

.close i:hover {
    color: white;
    cursor: pointer;
}

.button:hover {
    color: lime;
    font-style: bold;
    cursor: pointer;

}